<div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">Insira o seu usuário do GitHub</div>

            <div class="panel-body">
              <form class="form-horizontal" [formGroup]="meuForm" (submit)="search($event)">

                <div class="form-group">
                  <label class="col-md-4 control-label">Usuário</label>

                  <div class="col-md-6">
                    <input [(ngModel)]="user.user" class="form-control" name="user" formControlName="user" required autofocus autocomplete="off">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!meuForm.valid">
                      Verificar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="user.login" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>{{user.login}}</h1></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img *ngIf="user.avatar_url" class="img-responsive center-block" [src]="url">
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">{{user.name}}</div>
                            <div class="col-md-12">{{user.location}}</div>
                            <div class="col-md-12">{{user.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>